@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Floating Freedom</h1>
    <p>The app designed to help you keep your kayak shops inventory incheck, log in to get started</p>
</div>
