@model IEnumerable<FloatingFreedom.Models.ApplicationUser>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
	ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{

	<div class="text-center">
		<h1 class="display-4">Welcome to Floating Freedom</h1>
		<p>
			Welcome back 
			@User.Identity.Name
			, your information is ready for you to view.
		</p>
	</div>
}
else
{
	<div class="text-center">
		<h1 class="display-4">Welcome to Floating Freedom</h1>
		<p>The app designed to help you keep your kayak shops inventory in check, log in or register to get started.</p>
	</div>
}
@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}